$var:white;

h3
{
color:$var
}
.text-center
{
    text-align:center
}
.header-color
{
    text-align: center;background-color:#3b3b38
}
.masthead-brand
{
    color:$var;
    text-align:left;
}
a
{
color:$var;
}
.imagesize
{
    width: 10%;
    height:10%;
}
